@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: lightgray;
  padding: 10px;
  font-size: 1.3em;
}

.main button {
  padding: 20px;
  background: red;
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  width:10em;
  margin-bottom: 20px;
}

.explanation {
  padding-top:5px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
}

.counter {
  font-size: 4em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  text-decoration: underline;
  line-height: 0.5;
}

.timer {
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  padding-top:0px;
}

.highscore {
  font-size: 1em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  padding: 0px;
  text-decoration: underline;
  line-height: 10px;
}

.highscore p {
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  padding: 0px;
  text-decoration: underline;
  font-weight: 700;
}
