body
{
background-color:black;




    height: 100vh;
    padding:0;
    margin:0;

	padding: 2vw;
}

.main_images
{
  width:45%;
  margin:2%;
}

.main_images_shadow
{
  width:21.5%;
  margin:1%;
  -webkit-box-shadow: 13px 10px 10px 0px rgba(255,255,255,0.05);
  -moz-box-shadow: 13px 10px 10px 0px rgba(255,255,255,0.05);
  box-shadow: 13px 10px 10px 0px rgba(255,255,255,0.05);
}

#wtf_index
{
		color: white;
    font-size: 6.5vw;
	  z-index: 1;
}

#button
{

	background: transparent;
 float: right;
 position: absolute;
 top: 25vw;
 right: 7vw;
 z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
 cursor: pointer;
}


.heading
{
	line-height:1.2;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 800;
}

.at
{
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 500;
   font-size:5.5vw;
}

.regular
{
	line-height:1.2;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
}

.regular_small
{
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
	font-size:3vw;
}


.regular_right
{
	line-height:1.2;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
	text-align:right;
}


.flow_text
{
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
	font-size: 2vw;
	line-height:auto;
	display: block;
}

#text
{
	width: 35%;
	margin-left:2vw;
	margin-top:5vw;
	display: inline-block;
	float:left;
}

#bild
{
	padding-top:1vw;
	padding-right:7%;
	width:35%;
	display: inline-block;
	float:right;

}

#thisisme
{
	position:absolute;
	top:14vw;
	right:24vw;

}

#wrapper
{
	padding-top:7vw;
}

table
{
	width:95%;
	border-collapse: collapse;
}

#images
{
	padding-top:2vw;

}

#socials
{
	line-height:4vw;
	margin-left:8.4vw;
	margin-top:8.4vw;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: line-through;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}
