html, body { height: 100%; }



body
{
  background-color:black;
	padding: 2vw;

  overflow: auto;
}

.noscroll {
  overflow: hidden;
}

#overlay-content {
  font-size: 30px;
  height: 100%;
  overflow: scroll;

  }

  .head::-webkit-scrollbar {
      display: none;  // Safari and Chrome
  }
.none
{
  padding:3vw;
  margin: auto;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 60vw; /* Full width (cover the whole page) */
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    margin-bottom: 5%;
}


#darkoverlay
{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */

}

#wtf_index
{
  overflow: auto;
		color: white;
    font-size: 6.5vw;
	  z-index: 1;
}

#button
{

	background: transparent;
 float: right;
 position: absolute;
 top: 25vw;
 right: 7vw;
 z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
 cursor: pointer;
}


@media screen and (min-width:450px) {
/* Bei jedem größeren Monitor kommen neue Regeln hinzu */
   whiteoverlay { width:100%; }
}



.yellow
{
  color: #FA00FF;
}

.heading
{
	line-height:1.4;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 800;
  font-size: 50px;
}

.at
{
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 500;
   font-size:5.5vw;
}

.regular
{
	line-height:0.8;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
}

.regular_small
{
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
	font-size:3vw;
}


.regular_right
{
	line-height:1.2;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
	text-align:right;
}


.flow_text
{
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 400;
	font-size: 2vw;
	line-height:auto;
	display: block;
}

 .pointer {
 cursor: pointer;
 }

#text
{
    color:black;
	margin-left:2vw;
	margin-top:3vw;
	display: inline-block;
	float:left;
  	font-size: 4vw;
}

#bild
{
	padding-top:1vw;
	padding-right:7%;
	width:35%;
	display: inline-block;
	float:right;

}

#thisisme
{
	position:absolute;
	top:14vw;
	right:24vw;

}

#wrapper
{
	padding-top:7vw;
}

table
{
	width:95%;
	border-collapse: collapse;
}

#images
{

	padding-top:2vw;
}

.main_images
{
object-fit: cover;
overflow: hidden;
width:28%;
margin:2%;
cursor:pointer;
height:20vw;
}
#socials
{
	line-height:4vw;
	margin-left:8.4vw;
	margin-top:8.4vw;
}

#footer
{
margin-bottom: 30px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: line-through;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
